<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style_user.css">
    <title>Title</title>
</head>
<body>
<div id="main_window">
    <div id="login_window">
        <h1>Le WAN Ordering platform</h1>
        <br>
        <div id="login_block">

            <div id="login_faculty_block">

                <div>
                    <h2>Telecom faculty login 3</h2>

                </div>

                <form id="login_faculty_form" action="authenticate" method="post">

                    <input name="username" type="text" id="username" placeholder="Username">
                    <input name="pwd" type="text" id="pwd" placeholder="Password">
                    <input type="submit" value="Submit" id="login_submit">

                </form>

            </div>

            <br>

            <div id="login_guest_block">

                <p> Are you a guest ? <a href= index.html><button> Yes </button> </p></a>

            </div>
        </div>

    </div>

    <br>

    <button id="language_button"><img src="OIP.jpeg"/></button>
</div>

</body>
</html>